* {
  box-sizing : border-box;
  margin : 0;
  padding : 0;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container {
  margin : 0 auto;
  max-width : 1360px;
}

.btn {
  background-color : #469165;
  border : 1px solid #469165;
  border-radius : 4px;
  color : #FFFFFF;
  font-weight : 600;
  cursor : pointer;
  padding : 12px 16px;
}

/* header section style start */
header nav {
  display : flex;
  align-items : center;
  justify-content : space-between;
  padding : 16px 0;
}

header nav ul {
  display : flex;
  gap : 32px;
  list-style-type : none;
}

nav ul li a {
  color : #000000;
  font-weight : 500;
  text-decoration : none;
}
/* header section style end */

/* banner section style start */
.banner {
  background : url("../assets/hero-bg.png");
  background-position : center;
  background-repeat : no-repeat;
  background-size : cover;
  padding : 115px 0 179px;
  text-align : center;
}

.banner-content {
  margin-bottom : 32px;
  display : flex;
  align-items : center;
  flex-direction : column;
  gap : 16px;
}

.banner-content .tag {
  background-color : #FFFFFF;
  border-radius : 50px;
  color : #469165;
  display : flex;
  gap : 5px;
  font-weight : 500;
  max-width : 229px;
  padding : 8px 12px;
}

.tag img {
  width : 16px;
}

.banner-content h1 {
  color : #FFFFFF;
  font-size : 72px;
  font-weight : 700;
  line-height : 84px;
}

.banner-content h1 span {
  color : #30B868;
}

.banner-content .banner-desc {
  color : #FFFFFF;
  font-size : 18px;
  line-height : 24px;
}

.banner .banner-btn-box {
  display : flex;
  gap : 16px;
  justify-content : center;
}

.banner-btn-box .s-btn {
  border : 1px solid #FFFFFF;
  background-color : transparent;
}
/* banner section style end */