* {
  box-sizing : border-box;
  margin : 0;
  padding : 0;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared classes start */
.container {
  margin : 0 auto;
  max-width : 1360px;
}

.btn {
  background-color : #469165;
  border : 1px solid #469165;
  border-radius : 4px;
  color : #FFFFFF;
  font-weight : 600;
  cursor : pointer;
  padding : 12px 16px;
}

.btn:hover {
  background-color : transparent;
  color : #469165;
}

.section-heading {
  display : flex;
  flex-direction : column;
  gap : 16px;
  text-align : center;
}

.section-heading h2{
  color : #001931;
  font-size : 48px;
  font-weight : 700;
}

.section-heading p {
  color : #627382;
  line-height : 20px;
}
/* shared classes end */

/* header section style start */
header nav {
  display : flex;
  align-items : center;
  justify-content : space-between;
  padding : 16px 0;
}

header nav ul {
  display : flex;
  gap : 32px;
  list-style-type : none;
}

nav ul li a {
  color : #000000;
  font-weight : 500;
  text-decoration : none;
}
/* header section style end */

/* banner section style start */
.banner {
  background : url("../assets/hero-bg.png");
  background-position : center;
  background-repeat : no-repeat;
  background-size : cover;
  margin-bottom : 120px;
  padding : 115px 0 179px;
  text-align : center;
}

.banner-content {
  margin-bottom : 32px;
  display : flex;
  align-items : center;
  flex-direction : column;
  gap : 16px;
}

.banner-content .tag {
  background-color : #FFFFFF;
  border-radius : 50px;
  color : #469165;
  display : flex;
  gap : 5px;
  font-weight : 500;
  max-width : 229px;
  padding : 8px 12px;
}

.tag img {
  width : 16px;
}

.banner-content h1 {
  color : #FFFFFF;
  font-size : 72px;
  font-weight : 700;
  line-height : 84px;
}

.banner-content h1 span {
  color : #30B868;
}

.banner-content .banner-desc {
  color : #FFFFFF;
  font-size : 18px;
  line-height : 24px;
}

.banner .banner-btn-box {
  display : flex;
  gap : 16px;
  justify-content : center;
}

.banner-btn-box .s-btn {
  border : 1px solid #FFFFFF;
  background-color : transparent;
}

.banner-btn-box .s-btn:hover {
  border-color : #469165;
  color : #469165;
}
/* banner section style end */

/* notes section style start */
.notes {
  margin-bottom : 120px;
}

.notes .note-card-box{
  display : flex;
  gap : 24px;
  margin-top : 44px;
}

.note-card-box .note-card {
  border-radius : 8px;
  box-shadow : 0px 0px 8px 0px #00000033;
  display : flex;
  align-items : center;
  flex-direction : column;
  gap : 16px;
  padding : 24px;
  text-align : center;
}

.note-card img {
  background-color : #F95555;
  border-radius : 50px;
  padding : 14px;
}

.note-card h3 {
  color : #001931;
  flex-grow : 1;
  font-size : 24px;
  font-weight : 600;
}

.note-card p {
  color : #627382;
  line-height : 20px;
}
/* notes section style end */

/* second brain section style start */
.second-brain {
  margin-bottom : 120px;
  display : flex;
  align-items : center;
  gap : 60px;
}

.second-brain-content .section-heading {
  align-items : start;
  text-align : left;
}

.section-heading h4 {
  color : #30B868;
  font-size : 16px;
  font-weight : 500;
  text-transform : uppercase;
}

.second-brain-content ul {
  display : flex;
  flex-direction : column;
  gap : 16px;
  list-style-type : none;
  margin-top : 40px;
}

.second-brain-content ul li {
  color : #001931;
  display : flex;
  gap : 6px;
  font-weight : 500;
}
/* second brain section style end */

/* early access section style start */
.early-access {
  background-color : #F7F6F2;
  border-radius : 12px;
  margin-bottom : 120px;
  padding : 80px 0;
  text-align : center;
}

.early-access .btn {
  margin : 24px 0 16px;
}

.early-access .ending-message {
  color : #627382;
  display : flex;
  justify-content : center;
}
/* early access section style end */

/* footer section style start */
footer {
  background-color : #001931;
  padding : 120px 0 0;
}

footer .footer-social {
  display : flex;
  align-items : center;
  justify-content : space-between;
  margin-bottom : 80px;
}

footer .copyright-message {
  border-top : 1px solid #E5E7EB;
  color : #FAFAFA;
  padding : 30px 0;
  text-align : center;
}

.social h3 {
  color : #FFFFFF;
  font-size : 20px;
  font-weight : 500;
  margin-bottom : 16px;
}

.social .social-links {
  display : flex;
  gap : 16px;
}

.social-links img {
  width : 20px;
  border-radius : 50%
}
/* footer section style end */